.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #ffffff;
}

.active {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #050737;
}

.list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.item {
  font-size: 32px;
}