.link {
  text-decoration-line: none;
  color: #657af1;
}

.active {
  color: aliceblue;
  font-weight: 600;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.item {
  font-size: 32px;
}