.list{
display: flex;
align-items: center;
justify-content: center;  
}


.active{
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: rgb(13, 2, 44);
  white-space: nowrap;
  font-size: 30px;
}

.noActive{
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  transition: transform 0.3s ease;
  font-size: 30px;
}

